$text-color: #606266;
$text-size: 34rpx;
$checkbox-border-color: #dcdfe6;
$checkbox-size: 40rpx;
$checkbox-check-color: #469FFC;

.qh-tree-item {
  width: 100%;
  font-size: $text-size;
  color: $text-color;

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 4rpx;
    padding-left: 4rpx;
    border-radius: 4rpx;

    &--hover {
      background-color: #f5f7fa;
    }
  }

  &__expand-icon {
    width: 20rpx;
    height: 20rpx;
    padding-right: 8rpx;
    font-size: 20rpx;
    transition: transform .4s;

    &.is-leaf {
      color: transparent;
      cursor: default;
      visibility: hidden;
    }

    &.is-expanded {
      transform: rotate(90deg);
    }

    image {
      width: 1em;
      height: 1em;
      vertical-align: baseline;
    }
  }

  &__checkbox {
    position: relative;
    box-sizing: border-box;
    width: $checkbox-size;
    height: $checkbox-size;
    margin-right: 12rpx;
    border: 1px solid $checkbox-border-color;
    border-radius: 8rpx;

    &--check, 
    &--all {
      background-color: $checkbox-check-color;
      border-color: $checkbox-check-color;

      &::before {
        position: absolute;
        top: 2rpx;
        left: 12rpx;
        width: 9rpx;
        height: 20rpx;
        content: " ";
        border-right: 4rpx solid #fff;
        border-bottom: 4rpx solid #fff;
        transform: rotate(45deg);
      }
    }

    &--half {
      background-color: $checkbox-check-color;
      border-color: $checkbox-check-color;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        height: 4rpx;
        content: "";
        background-color: #fff;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__label {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__children {
    padding-left: 20rpx;
    overflow: hidden;
    transition: height .4s;
  }
}
